In [40]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import model_selection
from sklearn.ensemble.RandomForestClassifier as rf

In [14]:
df = pd.read_csv('Fraud_Data.csv')
df['signup_time'] = pd.to_datetime(df['signup_time'])
df['purchase_time'] = pd.to_datetime(df['purchase_time'])

In [ ]:
#to add a column, where if the IP is a duplication it records 1, otherwise 0
def dupIP(df):
    df['duplicate_ip'] = 0
    for i in df.index:
        dft = df[df['ip_address'] == df.loc[i, 'ip_address']]
        if len(dft)>1:
            df.loc[i, 'duplicate_ip'] = 1
    return df

def logloss():

In [15]:
df.head(5)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0

In [16]:
df.describe()

             user_id  purchase_value           age    ip_address         class
count   20000.000000    20000.000000  20000.000000  2.000000e+04  20000.000000
mean   199531.062250       36.982050     33.101650  2.141819e+09      0.096450
std    115556.190381       18.410825      8.589913  1.249394e+09      0.295215
min         4.000000        9.000000     18.000000  9.344714e+04      0.000000
25%     99283.500000       22.000000     27.000000  1.071220e+09      0.000000
50%    199733.500000       34.000000     33.000000  2.128136e+09      0.000000
75%    298277.750000       49.000000     39.000000  3.233272e+09      0.000000
max    399995.000000      154.000000     72.000000  4.294546e+09      1.000000

In [37]:
df['class'].sum()

1929

In [23]:
len(df['ip_address'].unique())

19430

In [25]:
df['timedelta'] = df['purchase_time'] - df['signup_time']
df.head(5)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,timedelta,duplicate_ip
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,52 days 03:51:22,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,0 days 04:59:04,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,0 days 00:00:01,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,5 days 16:41:25,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,50 days 11:31:01,0

In [27]:
dft = df[df['duplicate_ip']==1].sort_values(by='ip_address')
dft.head(10)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,timedelta,duplicate_ip
17476,287232,2015-01-07 20:53:41,2015-01-07 20:53:42,26,FBHIRVGVKKWAI,Ads,IE,F,36,2.278096e+06,1,00:00:01,1
2382,321029,2015-01-07 20:53:44,2015-01-07 20:53:45,26,FBHIRVGVKKWAI,Ads,IE,F,36,2.278096e+06,1,00:00:01,1
7109,244205,2015-01-12 08:40:25,2015-01-12 08:40:26,34,VAHYDLSLVQCWY,Direct,Chrome,M,39,1.666923e+07,1,00:00:01,1
13387,18129,2015-01-12 08:40:29,2015-01-12 08:40:30,34,VAHYDLSLVQCWY,Direct,Chrome,M,39,1.666923e+07,1,00:00:01,1
1741,93152,2015-01-12 08:40:23,2015-01-12 08:40:24,34,VAHYDLSLVQCWY,Direct,Chrome,M,39,1.666923e+07,1,00:00:01,1
15607,302601,2015-01-12 08:40:28,2015-01-12 08:40:29,34,VAHYDLSLVQCWY,Direct,Chrome,M,39,1.666923e+07,1,00:00:01,1
13365,162572,2015-01-09 10:42:12,2015-01-09 10:42:13,38,FRLOPITIAKGAR,SEO,FireFox,F,28,3.168170e+07,1,00:00:01,1
12227,274972,2015-01-09 10:42:21,2015-01-09 10:42:22,38,FRLOPITIAKGAR,SEO,FireFox,F,28,3.168170e+07,1,00:00:01,1
5679,211805,2015-01-09 14:08:40,2015-01-09 14:08:41,16,GKJOTDNDVXQXB,Ads,Chrome,M,34,3.510005e+07,1,00:00:01,1
14310,287043,2015-01-09 14:08:39,2015-01-09 14:08:40,16,GKJOTDNDVXQXB,Ads,Chrome,M,34,3.510005e+07,1,00:00:01,1

In [22]:
df_f = pd.get_dummies(df[['source', 'browser','sex']])
df_f.drop(['source_SEO', 'browser_Safari', 'sex_M'], axis=1, inplace=True)
df_f.head(5)

,source_Ads,source_Direct,browser_Chrome,browser_FireFox,browser_IE,browser_Opera,sex_F
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
df_new = df.drop(['user_id', 'signup_time', 'purchase_time', 'device_id', 'ip_address',
                 'source', 'browser', 'sex'], axis=1)
df_f_new = pd.concat([df_new, df_f], axis=1)
df_f_new.head(5)

,purchase_value,age,class,timedelta,duplicate_ip,source_Ads,source_Direct,browser_Chrome,browser_FireFox,browser_IE,browser_Opera,sex_F
0,34,39,0,52 days 03:51:22,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,16,53,0,0 days 04:59:04,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,15,53,1,0 days 00:00:01,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,44,41,0,5 days 16:41:25,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,39,45,0,50 days 11:31:01,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
target = 'class'
features = [k for k in df_f_new.columns if k!=target]
X = df_f_new[features].values
Y = df_f_new[target].values

In [51]:
sampling = model_selection.StratifiedShuffleSplit(n_splits=2, test_size=0.1, random_state=42)
train_index, holdout_index = sampling.split(X,Y)

In [57]:
X_train = X[train_index[0]]
Y_train = Y[train_index[0]]

In [60]:
skf = model_selection.StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
for train_index, val_index in skf.split(X_train, Y_train):
    X_tra, Y_tra = X_train[train_index], Y_train[train_index]
    X_val, Y_val = X_train[val_index], Y_train[val_index]
    
    
    clf = rf.
    clf.fit(X_tra, Y_tra)
    y_pred = clf.predict(X_val)
    loss = one_zero_loss(Y_val, y_pred)
    
    clf2 = gbm.

In [ ]:
X_tra, X_val, Y_tra, Y_val = model_selection.train_test_split(X_train, Y_train, test_size=0.1, random_state=42)